<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <div class='container-fluid'>

            <button
                class='navbar-toggler'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#navbarSupportedContent'
                aria-controls='navbarSupportedContent'
                aria-expanded='false'
                aria-label='Toggle navigation'
            >
                <span class='navbar-toggler-icon'></span>
            </button>
            <div class='collapse navbar-collapse' id='navbarSupportedContent'>
                <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
                    <li class='nav-item'>
                        <a
                            class='nav-link active'
                            aria-current='page'
                            href='/'
                        >Home</a>
                    </li>

                    <li class='nav-item dropdown'>
                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            id='navbarDropdown'
                            role='button'
                            data-toggle='dropdown'
                            aria-haspopup='true'
                            aria-expanded='false'
                        >
                            Văn Trường
                        </a>
                        <div
                            class='dropdown-menu'
                            aria-labelledby='navbarDropdown'
                        >
                            <a class='dropdown-item' href='/phone/create'>Thêm
                                Điện Thoại</a>
                            <div class='dropdown-divider'></div>
                            <a
                                class='dropdown-item'
                                href='/me/stored/phone'
                            >Điện Thoại Của Tôi</a>
                            <div class='dropdown-divider'></div>
                            <a class='dropdown-item' href='/me/stored/news'>Bài
                                Viết Của Tôi</a>
                            <div class='dropdown-divider'></div>
                            <a class='dropdown-item' href='#'>Đăng Xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>